.divBackground {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-color: #e9d5e3;
}
.title_h {
	font-size: 5.5vw;
	margin-top: auto;
	margin-bottom: auto;
	font-family: 'Amatic SC';
	font-style: normal;
	color: #ffffff;
	align-items: center;
	text-align: center;
	text-shadow: -0.1vh 0 black, 0 0.1vh black, 0.1vh 0 black, 0 -0.1vh black;
	position: relative;
	margin: auto;
	text-align: center;
	align-items: center;
}

.title_v {
	font-size: 5.5vh;
	margin-top: auto;
	margin-bottom: auto;
	font-family: 'Amatic SC';
	font-style: normal;
	color: #ffffff;
	align-items: center;
	text-align: center;
	text-shadow: -0.1vw 0 black, 0 0.1vw black, 0.1vw 0 black, 0 -0.1vw black;
	position: relative;
	margin: auto;
	text-align: center;
	align-items: center;
}

.divModal_h {
	position: absolute;
	width: 40vw;
	height: 80vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
}

.divModal_v {
	position: absolute;
	width: 95vw;
	height: 50vh;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
}

.divModalBackground_h {
	background: rgba(54, 54, 51, 0.9);
	filter: blur(2px);
	border-radius: 2vw;
}

.divModalBackground_v {
	background: rgba(54, 54, 51, 0.9);
	filter: blur(2px);
	border-radius: 4vh;
}

.inputLogin_h {
	border: 4px solid #e9d5e3;
	background-color: transparent;
	color: #e9d5e3;
	width: 80%;
	height: 10%;
	font-family: Public Sans;
	font-size: 1.5vw;
	border-radius: 1vw;
	text-align: center;
	display: flex;
	align-items: center;
	line-height: 10%;
	margin-top: 5vh;
	margin-left: 10%;
}

.inputLogin_v {
	border: 4px solid #e9d5e3;
	background-color: transparent;
	color: #e9d5e3;
	width: 90%;
	height: 10%;
	font-family: Public Sans;
	font-size: 3vh;
	border-radius: 2vh;
	text-align: center;
	display: flex;
	align-items: center;
	line-height: 10%;
	margin-top: 3vh;
	margin-left: 5%;
}

.divButton {
	margin-top: 5vh;
}

.buttonPrimary_h {
	position: relative;
	width: 40%;
	height: 40%;
	background: #e9d5e3 !important;
	font-family: Public Sans;
	font-size: 1.8vw !important;
	text-align: center;
	align-items: center;
	color: rgba(54, 54, 51, 0.9) !important;
	border: 4px solid #e9d5e3 !important;
	top: 30%;
	margin-left: 30%;
	margin-top: 4vh;
	border-radius: 1.5vw !important;
}

.buttonPrimary_v {
	position: relative;
	width: 50%;
	height: 40%;
	background: #e9d5e3 !important;
	font-family: Public Sans;
	font-size: 3.5vh !important;
	text-align: center;
	align-items: center;
	color: rgba(54, 54, 51, 0.9) !important;
	border: 4px solid #e9d5e3 !important;
	top: 30%;
	margin-left: 25%;
	border-radius: 2vh !important;
}

.buttonSecondary_h {
	position: relative;
	width: 40%;
	height: 40%;
	background: #00000000 !important;
	font-family: Public Sans;
	font-size: 1.8vw !important;
	text-align: center;
	align-items: center;
	color: #e9d5e3 !important;
	border: 4px solid #e9d5e3 !important;
	top: 30%;
	margin-left: 30%;
	margin-top: 4vh;
	border-radius: 1.5vw !important;
}

.buttonSecondary_v {
	position: relative;
	width: 50%;
	height: 40%;
	background: #00000000 !important;
	font-family: Public Sans;
	font-size: 3.5vh !important;
	text-align: center;
	align-items: center;
	color: #e9d5e3 !important;
	border: 4px solid #e9d5e3 !important;
	top: 30%;
	margin-left: 25%;
	margin-top: 3vh;
	border-radius: 2vh !important;
}
