a:link,
a:visited,
a:active {
	text-decoration: none;
}

.videoListContainer {
	display: flex;
	flex-wrap: wrap;
}

.video {
	width: 31%;
	margin: 1%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1%;
	/* background-color: #fdfcdf; */
	border-radius: 2vh;
	margin-top: auto;
}

.title {
	font-family: Public Sans;
	font-size: 1.5vw;
	margin: 0.2vw;
	font-style: normal;
	color: #000000;
}

.thumbnail {
	position: relative;
	width: 100%;
}

.thumbnail img {
	border-radius: 2vh;
}

.playButton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50% !important;
	background-color: rgba(219, 219, 219, 0.703) !important;
	border-color: transparent !important;
}

.timeDiv {
	position: absolute;
	top: 86%;
	left: 10%;
	transform: translate(-50%, -50%);
	font-family: Public Sans;
	font-size: 1vw;
	color: #ffffff;
	margin-top: 0.5vw;
	width: 4vw;
	height: 1.8vw;
	text-align: center;
	background-color: #dedede;
	border-radius: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 600px) {
	.video {
		width: 100%;
	}
	.title {
		font-size: 4.5vw;
		margin: 0.6vw;
	}
	.timeDiv {
		width: 12vw;
		height: 5.4vw;
		font-size: 3vw;
		border-radius: 3vw;
	}
}
